body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: aliceblue;
    text-align: center;
    justify-content: center;
}

h1 {
    margin-top: 20px;
    font-size: 3.5rem;
}

.container {
    position: relative;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 11px;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto; 
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    border: 2px dashed white;
    transition: background-color 0.3s;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

button:hover {
    background-color: #03286d;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 3em;
    background: #fff;
    transition: 0.25s;
    transform: rotateY(180deg);
    border: 2px solid white;
    border-radius: 10px;
}

.herosection{
    width: 100%;
    margin-right: 200px;
    justify-items: center;
}

.hero {
    width: 450px;
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #000;
    transform: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.open::after,
.cardMatch::after {
    transform: rotateY(180deg);
}

.item.open {
    transform: rotateY(0deg);
}

.main {
    display: flex;
}

.moves{
    max-width: 200px;
    height:fit-content;
}

.semicircle {
    width: 200px;
    height: 150px;
    border: 5px solid snow;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transform: rotate(90deg); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.moves b {
    transform: rotate(-90deg); 
    font-size: 1.5rem;
}

b{
    font-size: 1.5rem;
}

#winMessage, #loseMessage {
    display: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 2rem;
    z-index: 10;
}

@media (max-width: 768px) {
    .herosection{
        margin-right: 150px;
        margin-top: 10px;
    }
    .semicircle{
        width: 90px;
        height: 100px;
    }
    .moves b{
        font-size: 1rem;
    }
    .item{
        height: 80px;
        width: 80px;
        font-size: 2.5em;
    }
    h1{
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .main{
        display: block;
    }
    .moves{
        max-height: max-content;
        max-width: max-content;
        margin-left: 20px;
    }
    button {
        font-size: 1rem;
    }
}
  
@media (max-width: 480px) {
    .herosection{
        margin-right: 150px;
    }
    .semicircle{
        width: 70px;
        height: 100px;
    }
    .moves b{
        font-size: 1rem;
    }
    .item{
        height: 70px;
        width: 70px;
        font-size: 2.5em;
    }
    h1{
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .main{
        display: block;
    }
    .moves{
        max-height: max-content;
        max-width: max-content;
        margin-left: 20px;
    }
    button {
        font-size: 1rem;
    }
    .hero{
        width: 350px;
    }
}
